<div class="music-list--container">
  <table mat-table [dataSource]="musicList" class="table" *ngIf="musicList.length">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID.</th>
      <td mat-cell *matCellDef="let element" [class.active]="element.active"
          [innerHTML]="element.active && isMusicPlaying ?
          '<img src=./assets/icons/equaliser-animated.gif width=12px>' :
          '<span>'+ element.index + '</span>'">
      </td>
    </ng-container>

    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let element">
        <img *ngIf="element.albumOfTrack.coverArt.sources[1] as img"
             [ngSrc]="img.url" [width]="img.width" [height]="img.height" alt="logo">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element" [class.active]="element.active"> {{element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration</th>
      <td mat-cell *matCellDef="let element" [class.active]="element.active">
        {{element.duration.totalMilliseconds | millisecondToMMSS }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"
        (click)="play(row, true)"></tr>

  </table>
</div>

<app-music-player
  [changeSong]="currentSong"
  (onMusicPlaying)="onMusicPlaying($event)"
  (onNextPressing)="onNextPressing()"
  (onPrevPressing)="onPrevPressing()"/>
